.footer-links {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0 25%;
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .footer-links {
    padding: 0;
  }
}

.footer-links i {
  padding: 20px;
  color: var(--color-accent);
  transition: transform 0.1s ease, color 0.1s ease;
  display: inline-block;
}

.footer-links i:hover {
  transform: scale(1.25);
  color: var(--color-accent-hover);
}
