/* Elements */
body {
	background-color: #272838;
	font-family: "Fira Code", monospace;
	font-size: 50px;
	color: #7D6B91;
}

p {
	font-weight: 300;
	font-size: 20px;
	color: #7D6B91;
}

a {
	transition: all 0.3s ease;
	text-decoration: none;
	font-weight: 500;
	color: #7D6B91;
}

a:hover {
	text-decoration: none;
	font-weight: 500;
	color: #989FCE;
}

/* Classes */
.strip {
	margin: auto;
	width: 50%;
}

.big_text {
	font-weight: 700;
	font-size: 26px;
}

.medium_text {
	font-weight: 500;
	font-size: 22px;
}

.small_text {
	font-weight: 300;
	font-size: 18px;
}
